version: 2.1

jobs:
  test:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      - run: 
          echo 'BASH_ENV_PREVIOUS_STEP=bash_env_previous_step' >> ${BASH_ENV}
          cat $BASH_ENV
      - run:
          name: "test environment"
          command: |
            cat $BASH_ENV
            . test_env.sh
  test2:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      - run: |
          echo $BASH_ENV
          cat $BASH_ENV

workflows:
  test-workflow:
    jobs:
      - test
      - test2
